# 01_preprocessing.ipynb

В этом ноутбуке:
- Загружаю train и test
- Очищаю их от невалидных значений и дубликатов
- Определяю и кодирую категориальные признаки
- Выровняю колонки test под train (без таргета)
- Сохраняю в data/processed/

In [ ]:
# 1. Чтение train и test + первичный обзор
df = pd.read_csv(f"{RAW_DIR}/train.csv")
df_test = pd.read_csv(f"{RAW_DIR}/test.csv")

print("Train shape:", df.shape)
print("Test shape :", df_test.shape)
print("Train columns:", df.columns.tolist())
print("Test columns :", df_test.columns.tolist())

print("\n--- TRAIN DTYPES ---")
print(df.dtypes)

print("\n--- TRAIN HEAD ---")
display(df.head())

print("\n--- TRAIN DESCRIBE ---")
display(df.describe())

print("\n--- TEST HEAD ---")
display(df_test.head())

print("\n--- TEST DESCRIBE ---")
display(df_test.describe())

# Кандидаты в категориальные признаки
thr = 10
cat_candidates = [c for c in df.columns if c not in ("ID","class") and df[c].nunique() <= thr]
print("\ncat candidates (<=10 uniq):", cat_candidates)

Train shape: (600000, 15)
Test shape : (400000, 14)
Train columns: ['ID', 'age', 'sex', 'chest', 'resting_blood_pressure', 'serum_cholestoral', 'fasting_blood_sugar', 'resting_electrocardiographic_results', 'maximum_heart_rate_achieved', 'exercise_induced_angina', 'oldpeak', 'slope', 'number_of_major_vessels', 'thal', 'class']
Test columns : ['ID', 'age', 'sex', 'chest', 'resting_blood_pressure', 'serum_cholestoral', 'fasting_blood_sugar', 'resting_electrocardiographic_results', 'maximum_heart_rate_achieved', 'exercise_induced_angina', 'oldpeak', 'slope', 'number_of_major_vessels', 'thal']

--- TRAIN DTYPES ---
ID                                        int64
age                                     float64
sex                                       int64
chest                                   float64
resting_blood_pressure                  float64
serum_cholestoral                       float64
fasting_blood_sugar                       int64
resting_electrocardiographic_results      int64
maximum_heart_rate_achieved             float64
exercise_induced_angina                   int64
oldpeak                                 float64
slope                                     int64
number_of_major_vessels                   int64
thal                                      int64
class                                     int64
dtype: object

--- TRAIN HEAD ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
0,0,49.207124,0,4.000000,162.996167,181.108682,0,0,148.227858,1,0.944547,2,0,3,1
1,1,53.628425,1,1.741596,130.233730,276.474630,0,2,152.917139,0,0.119070,2,0,3,0
2,2,49.591426,1,4.000000,146.999012,223.300517,1,2,102.352090,1,1.616747,2,2,7,1
3,3,58.991445,1,4.000000,112.369143,187.245501,0,0,158.164750,1,0.000000,1,1,7,1
4,4,51.053602,1,1.954609,138.032047,238.482868,0,0,172.540828,0,1.150464,1,1,3,0

--- TRAIN DESCRIBE ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
count,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000
mean,299999.500000,54.426085,0.677447,3.170247,131.340485,249.592420,0.150757,1.020148,149.592069,0.333502,1.051391,1.596033,0.681303,4.711378,0.444185
std,173205.225094,9.086041,0.467454,0.949618,17.842450,51.699976,0.357812,0.994204,23.072593,0.471464,1.144288,0.629821,0.950669,1.934766,0.496875
min,0.000000,26.061695,0.000000,-0.538498,82.918527,98.326263,0.000000,0.000000,61.844168,0.000000,-0.806788,1.000000,0.000000,3.000000,0.000000
25%,149999.750000,48.078493,0.000000,3.000000,119.924094,216.475964,0.000000,0.000000,135.704237,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,299999.500000,55.133425,1.000000,3.000000,129.727941,244.233699,0.000000,2.000000,153.224828,0.000000,0.811101,2.000000,0.000000,3.000000,0.000000
75%,449999.250000,60.663775,1.000000,4.000000,139.915216,274.345453,0.000000,2.000000,165.165497,1.000000,1.674081,2.000000,1.000000,7.000000,1.000000
max,599999.000000,79.591647,1.000000,4.000000,209.673650,527.755764,1.000000,2.000000,208.735196,1.000000,6.803372,3.000000,3.000000,7.000000,1.000000

--- TEST HEAD ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,600000,53.963191,1,4.000000,136.940829,236.862814,0,2,143.961525,1,0.711100,1,2,7
1,600001,49.621479,1,4.000000,122.024651,226.593019,0,2,112.220874,1,0.000000,1,1,7
2,600002,36.933893,1,1.300924,127.585643,351.061046,0,0,177.945922,0,0.313078,1,0,7
3,600003,54.884588,1,3.000000,124.876745,250.370530,0,0,153.176526,0,0.308277,1,1,7
4,600004,71.016392,0,1.746972,120.922600,210.979710,0,0,164.573122,0,1.021370,1,1,3

--- TEST DESCRIBE ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
count,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.00000
mean,799999.500000,54.406917,0.676858,3.169252,131.369647,249.593475,0.151163,1.025295,149.659088,0.333085,1.050086,1.595072,0.681432,4.70715
std,115470.198175,9.101044,0.467677,0.950585,17.862279,51.720531,0.358208,0.994132,23.065911,0.471317,1.140986,0.628361,0.950323,1.93353
min,600000.000000,27.496874,0.000000,-0.337469,85.830892,94.958220,0.000000,0.000000,58.964662,0.000000,-0.601414,1.000000,0.000000,3.00000
25%,699999.750000,48.021226,0.000000,3.000000,119.942167,216.455450,0.000000,0.000000,135.818008,0.000000,0.000000,1.000000,0.000000,3.00000
50%,799999.500000,55.130138,1.000000,3.000000,129.735888,244.273212,0.000000,2.000000,153.337116,0.000000,0.816276,2.000000,0.000000,3.00000
75%,899999.250000,60.667833,1.000000,4.000000,139.935499,274.357993,0.000000,2.000000,165.216643,1.000000,1.671519,2.000000,1.000000,7.00000
max,999999.000000,80.751628,1.000000,4.000000,212.300808,527.712687,1.000000,2.000000,207.412021,1.000000,6.856219,3.000000,3.000000,7.00000

cat candidates (<=10 uniq): ['sex', 'fasting_blood_sugar', 'resting_electrocardiographic_results', 'exercise_induced_angina', 'slope', 'number_of_major_vessels', 'thal']

In [41]:
# 2. Дубликаты/NA в train/test
df = df.drop_duplicates().dropna().reset_index(drop=True)
df_test = df_test.drop_duplicates().dropna().reset_index(drop=True)

print("after clean:", df.shape, df_test.shape)

after clean: (600000, 15) (400000, 14)

In [42]:
# 3. Приведение типов и диапазонов 
for d in (df, df_test):
    # дискретные числовые
    d["age"] = d["age"].round().clip(18, 120).astype("int16")
    d["resting_blood_pressure"] = d["resting_blood_pressure"].round().clip(60, 220).astype("int16")
    d["serum_cholestoral"] = d["serum_cholestoral"].round().clip(80, 600).astype("int16")
    d["maximum_heart_rate_achieved"] = d["maximum_heart_rate_achieved"].round().clip(50, 230).astype("int16")
    d["oldpeak"] = d["oldpeak"].clip(-1, 7).astype("float32")  # оставляем вещественным

    # категориальные
    d["chest"] = d["chest"].round().clip(1, 4).astype("int8")
    d["sex"] = d["sex"].clip(0, 1).astype("int8")
    d["fasting_blood_sugar"] = d["fasting_blood_sugar"].clip(0, 1).astype("int8")
    d["exercise_induced_angina"] = d["exercise_induced_angina"].clip(0, 1).astype("int8")
    d["resting_electrocardiographic_results"] = d["resting_electrocardiographic_results"].clip(0, 2).astype("int8")
    d["slope"] = d["slope"].clip(1, 3).astype("int8")
    d["number_of_major_vessels"] = d["number_of_major_vessels"].clip(0, 3).astype("int8")
    d["thal"] = d["thal"].where(d["thal"].isin([3, 6, 7]), 3).astype("int8")

print("types fixed:",
      df[["age","chest","resting_blood_pressure","serum_cholestoral",
          "maximum_heart_rate_achieved","oldpeak"]].dtypes.to_dict())

types fixed: {'age': dtype('int16'), 'chest': dtype('int8'), 'resting_blood_pressure': dtype('int16'), 'serum_cholestoral': dtype('int16'), 'maximum_heart_rate_achieved': dtype('int16'), 'oldpeak': dtype('float32')}

In [ ]:
# 4) Sanity-check после фиксов

print("DTYPES (key):", df[[
    "age","chest","resting_blood_pressure","serum_cholestoral",
    "maximum_heart_rate_achieved","oldpeak","sex","fasting_blood_sugar",
    "exercise_induced_angina","resting_electrocardiographic_results",
    "slope","number_of_major_vessels","thal","class"
]].dtypes.to_dict())

# Диапазоны числовых (train/test)
def rng(col, lo, hi):
    t_bad = (~df[col].between(lo, hi)).sum()
    s_bad = (~df_test[col].between(lo, hi)).sum()
    print(f"{col:>32}: train_min={df[col].min()} max={df[col].max()} | test_min={df_test[col].min()} max={df_test[col].max()} | out_of_range train={t_bad} test={s_bad}")

rng("age", 18, 120)
rng("resting_blood_pressure", 60, 220)
rng("serum_cholestoral", 80, 600)
rng("maximum_heart_rate_achieved", 50, 230)
rng("oldpeak", -1, 7)

# Категориальные
cats = {
    "sex": {0,1},
    "chest": {1,2,3,4},
    "fasting_blood_sugar": {0,1},
    "exercise_induced_angina": {0,1},
    "resting_electrocardiographic_results": {0,1,2},
    "slope": {1,2,3},
    "number_of_major_vessels": {0,1,2,3},
    "thal": {3,6,7},
}

for c, dom in cats.items():
    if c in df.columns:
        bad_tr = (~df[c].isin(dom)).sum()
        bad_te = (~df_test[c].isin(dom)).sum()
        print(f"{c:>32}: uniques_train={sorted(df[c].unique().tolist())} | bad train={bad_tr} test={bad_te}")

DTYPES (key): {'age': dtype('int16'), 'chest': dtype('int8'), 'resting_blood_pressure': dtype('int16'), 'serum_cholestoral': dtype('int16'), 'maximum_heart_rate_achieved': dtype('int16'), 'oldpeak': dtype('float32'), 'sex': dtype('int8'), 'fasting_blood_sugar': dtype('int8'), 'exercise_induced_angina': dtype('int8'), 'resting_electrocardiographic_results': dtype('int8'), 'slope': dtype('int8'), 'number_of_major_vessels': dtype('int8'), 'thal': dtype('int8'), 'class': dtype('int64')}
                             age: train_min=26 max=80 | test_min=27 max=81 | out_of_range train=0 test=0
          resting_blood_pressure: train_min=83 max=210 | test_min=86 max=212 | out_of_range train=0 test=0
               serum_cholestoral: train_min=98 max=528 | test_min=95 max=528 | out_of_range train=0 test=0
     maximum_heart_rate_achieved: train_min=62 max=209 | test_min=59 max=207 | out_of_range train=0 test=0
                         oldpeak: train_min=-0.8067880272865295 max=6.803371906280518 | test_min=-0.6014140248298645 max=6.8562188148498535 | out_of_range train=0 test=0
                             sex: uniques_train=[0, 1] | bad train=0 test=0
                           chest: uniques_train=[1, 2, 3, 4] | bad train=0 test=0
             fasting_blood_sugar: uniques_train=[0, 1] | bad train=0 test=0
         exercise_induced_angina: uniques_train=[0, 1] | bad train=0 test=0
resting_electrocardiographic_results: uniques_train=[0, 1, 2] | bad train=0 test=0
                           slope: uniques_train=[1, 2, 3] | bad train=0 test=0
         number_of_major_vessels: uniques_train=[0, 1, 2, 3] | bad train=0 test=0
                            thal: uniques_train=[3, 6, 7] | bad train=0 test=0

In [45]:
# 5) Короткий обзор после фиксов
print("\n--- TRAIN HEAD (post-fix) ---")
display(df.head())

print("\n--- TRAIN DESCRIBE (post-fix) ---")
display(df.describe())

print("\n--- TEST HEAD (post-fix) ---")
display(df_test.head())

print("\n--- TEST DESCRIBE (post-fix) ---")
display(df_test.describe())

--- TRAIN HEAD (post-fix) ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
0,0,49,0,4,163,181,0,0,148,1,0.944547,2,0,3,1
1,1,54,1,2,130,276,0,2,153,0,0.119070,2,0,3,0
2,2,50,1,4,147,223,1,2,102,1,1.616747,2,2,7,1
3,3,59,1,4,112,187,0,0,158,1,0.000000,1,1,7,1
4,4,51,1,2,138,238,0,0,173,0,1.150464,1,1,3,0

--- TRAIN DESCRIBE (post-fix) ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal,class
count,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000,600000.000000
mean,299999.500000,54.425282,0.677447,3.172722,131.339853,249.592713,0.150757,1.020148,149.592407,0.333502,1.051391,1.596033,0.681303,4.711378,0.444185
std,173205.225094,9.090470,0.467454,0.954722,17.844740,51.700917,0.357812,0.994204,23.073528,0.471464,1.144288,0.629821,0.950669,1.934766,0.496875
min,0.000000,26.000000,0.000000,1.000000,83.000000,98.000000,0.000000,0.000000,62.000000,0.000000,-0.806788,1.000000,0.000000,3.000000,0.000000
25%,149999.750000,48.000000,0.000000,3.000000,120.000000,216.000000,0.000000,0.000000,136.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,299999.500000,55.000000,1.000000,3.000000,130.000000,244.000000,0.000000,2.000000,153.000000,0.000000,0.811101,2.000000,0.000000,3.000000,0.000000
75%,449999.250000,61.000000,1.000000,4.000000,140.000000,274.000000,0.000000,2.000000,165.000000,1.000000,1.674081,2.000000,1.000000,7.000000,1.000000
max,599999.000000,80.000000,1.000000,4.000000,210.000000,528.000000,1.000000,2.000000,209.000000,1.000000,6.803372,3.000000,3.000000,7.000000,1.000000

--- TEST HEAD (post-fix) ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
0,600000,54,1,4,137,237,0,2,144,1,0.711100,1,2,7
1,600001,50,1,4,122,227,0,2,112,1,0.000000,1,1,7
2,600002,37,1,1,128,351,0,0,178,0,0.313078,1,0,7
3,600003,55,1,3,125,250,0,0,153,0,0.308277,1,1,7
4,600004,71,0,2,121,211,0,0,165,0,1.021370,1,1,3

--- TEST DESCRIBE (post-fix) ---

,ID,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
count,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.000000,400000.00000
mean,799999.500000,54.406888,0.676858,3.171457,131.369307,249.592858,0.151163,1.025295,149.658662,0.333085,1.050085,1.595072,0.681432,4.70715
std,115470.198175,9.106570,0.467677,0.955904,17.864293,51.721393,0.358208,0.994132,23.067884,0.471317,1.140986,0.628361,0.950323,1.93353
min,600000.000000,27.000000,0.000000,1.000000,86.000000,95.000000,0.000000,0.000000,59.000000,0.000000,-0.601414,1.000000,0.000000,3.00000
25%,699999.750000,48.000000,0.000000,3.000000,120.000000,216.000000,0.000000,0.000000,136.000000,0.000000,0.000000,1.000000,0.000000,3.00000
50%,799999.500000,55.000000,1.000000,3.000000,130.000000,244.000000,0.000000,2.000000,153.000000,0.000000,0.816276,2.000000,0.000000,3.00000
75%,899999.250000,61.000000,1.000000,4.000000,140.000000,274.000000,0.000000,2.000000,165.000000,1.000000,1.671519,2.000000,1.000000,7.00000
max,999999.000000,81.000000,1.000000,4.000000,212.000000,528.000000,1.000000,2.000000,207.000000,1.000000,6.856219,3.000000,3.000000,7.00000

In [47]:
# 6) OHE и выравнивание test под train (не включая target)
cat_cols = [
    "sex",
    "chest",
    "fasting_blood_sugar",
    "resting_electrocardiographic_results",
    "exercise_induced_angina",
    "slope",
    "number_of_major_vessels",
    "thal",
]

df = pd.get_dummies(df, columns=cat_cols, drop_first=True, dtype="int8")
df_test = pd.get_dummies(df_test, columns=[c for c in cat_cols if c in df_test.columns],
                         drop_first=True, dtype="int8")

feature_cols = [c for c in df.columns if c != "class"]
df_test = df_test.reindex(columns=feature_cols, fill_value=0)

print("final shapes:", df.shape, df_test.shape)
print("cols equal:", df_test.columns.tolist() == feature_cols)

final shapes: (600000, 22) (400000, 21)
cols equal: True

In [ ]:
# 7) Сохранение в processed 
df.to_csv(f"{PROC_DIR}/train_preprocessed.csv", index=False)
df_test.to_csv(f"{PROC_DIR}/test_preprocessed.csv", index=False)
print("saved to:", PROC_DIR)

saved to: ../data/processed

## Итог данных после предобработки:

**Что сделали:**
- загрузили `train/test`;
- удалили дубликаты/NA;
- привели типы и диапазоны 
- закодировали категориальные признаки через One-Hot Encoding (`drop_first=True`);
- выровняли столбцы `test` под схему `train` (без `class`).


**Состав признаков (после OHE):**
- Числовые:  
  `ID`, `age`, `resting_blood_pressure`, `serum_cholestoral`, `maximum_heart_rate_achieved`, `oldpeak`
- Дамми-признаки:  
  `sex_1`,  
  `chest_2`, `chest_3`, `chest_4`,  
  `fasting_blood_sugar_1`,  
  `resting_electrocardiographic_results_1`, `resting_electrocardiographic_results_2`,  
  `exercise_induced_angina_1`,  
  `slope_2`, `slope_3`,  
  `number_of_major_vessels_1`, `number_of_major_vessels_2`, `number_of_major_vessels_3`,  
  `thal_6`, `thal_7`.

**Итоговые размеры:**
- `train`: **(600000, 22)** — 21 признак + `class`
- `test`: **(400000, 21)** — те же 21 признак (без `class`)